<div class="mb-4 border-bottom row pb-4">
    <div class="col-9">
  <h4>{{job['title']}}</h4>
  <div><b>Location</b> {{job['location']}}</div>
  {% if 'salary' in job %}
  <div><b>Salary</b> {{job['salary']}}</div>
  {% endif %}
</div>
<div class="col-1">
  <button class="btn btn-outline-primary">
    <a href="mailto:tankdhaval049@gmail.com?cc=someoneelse@theirsite.com,another@thatsite.com,me@mysite.com&bcc=lastperson@theirsite.com&subject=Job%20Application&body=Dear%20Hiring%20Manager,%0D%0A%0D%0A I am interested in applying for the [Job Position] at [Company Name].%0D%0A%0D%0A Please find my resume and LinkedIn profile below:%0D%0A Resume: [Your Resume Link]%0D%0A LinkedIn: [Your LinkedIn Profile]%0D%0A%0D%0A Looking forward to your response.%0D%0A%0D%0A Best Regards,%0D%0A Dhaval">Apply</a>
  </button>
  
</div>
</div>
